@use "sass:math";

// Кольори

$pinkColor: #ed165f;
// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 0;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

.category {
	overflow: hidden;
	@include adaptiveValue("padding-top", 156, 120); // .category__container

	&__container {
	}

	// .category__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 45, 30);
		}
	}
	&__wrap {
		position: relative;
	}
	// .category__sidebar

	&__sidebar {
	}
}
.title-category {
	text-transform: uppercase;
	@include adaptiveValue("font-size", 30, 20);
	font-weight: 800;
	line-height: toRem(18);
	letter-spacing: toRem(3);
}
.sidebar {
	padding: toRem(5);
	padding-right: toRem(10);
	width: toRem(301);
	height: fit-content;
	background-color: #fff;
	position: absolute;
	top: toRem(16);
	left: 0;
	z-index: 50;
	overflow-y: auto;
	pointer-events: all;
	transition: all 0.3s ease;
	transform: translateX(-150%);
	pointer-events: all;
	// @media (max-width: toEm(991.98)) {
	// 	position: fixed;
	// 	top: toRem(190);
	// 	left: toRem(15);
	// 	transition: top 0.3s;
	// 	&.scrolled {
	// 		top: toRem(80);
	// 	}
	// }

	&.visible {
		transform: translateX(0);
		opacity: 1;
	}
	@media (min-width: toEm(991.98)) {
		transform: translateX(0);
	}
	@media (max-width: toEm(991.98)) {
		transform: translateX(-150%);
		box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
		opacity: 0;
	}
	&__close-btn {
		img {
			width: toRem(20);
			height: toRem(20);
		}
		@media (min-width: toEm(991.98)) {
			display: none;
		}
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
}

.filter-icon {
	padding-top: toRem(10);
	img {
		width: toRem(25);
		height: toRem(25);
	}
	z-index: 20;
	@media (min-width: toEm(991.98)) {
		display: none;
	}
}

.item-sidebar {
	@include adaptiveValue("padding-bottom", 64, 30);
	&__top {
		display: flex;
		justify-content: space-between;
		border-bottom: toRem(1) solid rgba(0, 0, 0, 0.5);
	}
	&__clear-btn {
		display: flex;
		align-items: center;
		gap: toRem(15);
		span {
			color: #c4c4c4;
			font-size: toRem(14);
			font-weight: 600;
			line-height: toRem(18);
			transition: color 0.3s;
		}
		svg {
			will-change: transform;
			transition: transform 0.3s;
		}
		@media (any-hover: hover) {
			&:hover span {
				color: #575454;
			}
			&:hover svg {
				transform: scale(1.1);
			}
		}
	}
	&__list {
		padding-top: toRem(32);
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
		@media (any-hover: hover) {
			&:hover {
				.item-sidebar__link {
					color: $pinkColor;
				}
			}
		}
	}
	&__link {
		transition: color 0.3s;
		font-weight: 600;
		line-height: toRem(18);
		&.active {
			color: $pinkColor;
		}
	}
	&__subtitle {
		font-size: toRem(20);
		font-weight: 600;
		line-height: toRem(18);
		padding-bottom: toRem(16);
		text-transform: uppercase;
	}
	&__custom-range {
	}
}

.item-collection.visible {
	display: flex;
}
.custom-select {
	@include adaptiveValue("margin-right", 28, 0);
	width: fit-content;
	position: relative;
	cursor: pointer;
	justify-self: flex-end;
	margin-bottom: toRem(16);
}

.custom-select__trigger {
	border: toRem(1) solid #000;
	padding: toRem(9) toRem(16);
	font-size: toRem(14);
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: toRem(8);
}

.custom-select__options {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: #fff;
	border-left: toRem(1) solid #000;
	border-right: toRem(1) solid #000;
	border-bottom: toRem(1) solid #000;
	overflow-y: auto;
	display: none;
	z-index: 10;
}

.custom-select__option {
	font-size: toRem(14);
	font-weight: 600;
	padding: toRem(9) toRem(16);
	transition:
		background-color 0.3s,
		color 0.3s;
}

.custom-select__option:hover {
	background-color: $pinkColor;
	color: #fff;
	font-weight: 800;
}

.custom-select.open .custom-select__options {
	display: block;
}

.size {
	padding-top: toRem(32);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	@include adaptiveValue("gap", 16, 5);
	&__item {
		font-size: toRem(14);
		font-weight: 600;
		line-height: toRem(18);
		width: 100%;
		padding: toRem(7);
		border-radius: toRem(2);
		border: toRem(1) solid rgba(0, 0, 0, 0.5);
		transition: all 0.3s;
		  touch-action: manipulation;

		&.active {
			background-color: $pinkColor;
			color: #fff;
		}
		&.hover {
			background-color: $pinkColor;
			color: #fff;
		}
	}
}

.color {
	padding-top: toRem(32);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: toRem(10);
	row-gap: toRem(16);
	// .color__item

	&__item {
		display: flex;
		align-items: center;
		gap: toRem(7);
		@media (any-hover: hover) {
			&:hover {
				.color__color {
					transform: scale(1.1);
				}
			}
		}
	}

	// .color__color

	&__color {
		flex-shrink: 0;
		width: toRem(32);
		height: toRem(32);
		border-radius: toRem(2);
		will-change: transform;
		transition: transform 0.3s;
		&.active {
			border: toRem(1) solid #000000;
		}
	}

	// .color__name

	&__name {
		font-size: toRem(14);
		line-height: toRem(18);
		&.active {
			font-weight: 800;
		}
	}
}

.price {
	padding-top: toRem(32);
	display: flex;
	flex-direction: column;
	gap: toRem(8);
	&:not(:last-child) {
		margin-bottom: toRem(16);
	}
}
.checkbox {
	display: flex;
	align-items: center;
	gap: toRem(6);
	font-size: toRem(14);
	font-weight: 600;
	line-height: toRem(18);
	position: relative;
	cursor: pointer;
	@media (any-hover: hover) {
		&:hover {
			.checkbox__box {
				background-color: #dbd5d5;
			}
		}
	}
	input {
		display: none;
	}
	&__box {
		width: toRem(27);
		height: toRem(27);
		flex-shrink: 0;
		border: 0.5px solid #000;
		background-color: white;
		transition:
			background-color 0.3s,
			border-color 0.3s;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: toRem(10);
			height: toRem(6);
			border: toRem(2) solid white;
			border-top: none;
			border-right: none;
			transform: translate(-50%, -50%) rotate(-45deg);
			opacity: 0;
			transition: opacity 0.3s;
		}
	}
}
.checkbox input:checked + .checkbox__box {
	background-color: $pinkColor;
	border-color: $pinkColor;
}

.checkbox input:checked + .checkbox__box::after {
	opacity: 1;
}
.custom-range {
	display: flex;
	align-items: center;
	gap: toRem(5);
	span {
		font-size: toRem(14);
		font-weight: 600;
	}
	input {
		max-width: toRem(61);
		border: 0.5px solid #000;
		padding: toRem(5) toRem(8);
		&::placeholder {
			font-size: toRem(14);
			font-weight: 600;
		}
	}
	&__button {
		padding: toRem(9) toRem(14);
		border-radius: toRem(2);
		background-color: $pinkColor;
		color: #fff;
		font-size: toRem(14);
		font-weight: 600;
		transition: background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #a91245;
			}
		}
	}
}
